* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(135deg, #ec801a 0%, #522702 100%);
    line-height: 1.8;
    min-height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

#topBar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding: 10px;

}
#topBar ul {
    display: flex;
    gap: 30px;
    list-style: none;
}
#topBar a:hover {
    color: rgb(189, 189, 189);
}


#bottomNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(28, 29, 33);
    padding: 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);

}

.bookPic {
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
    color: #ffffff;
}

#leftBook {
    width: 32px;
    height: 32px;
    object-fit: contain;
}

.mainNavLinks {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
}
.mainNavLinks a {
    color: #333;
    font-size: 20px;
}

.mainNavLinks a:hover {
    color: #ffffff;
}

#loginButton {
background-color: #ffffff;
}

#loginButton a:hover {
    background-color: #ffffff;
    transform: scale(1.5);
}

#search {
    width: 250px;
    display: flex;
    text-align: center;
}




