#topBar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding: 10px;

}
#topBar ul {
    display: flex;
    gap: 30px;
    list-style: none;
}
#topBar a:hover {
    color: rgb(189, 189, 189);
}


#bottomNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(28, 29, 33);
    padding: 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);

}

.bookPic {
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
    color: #ffffff;
    padding: 10px;
    gap: 10px;



}

#bottomNav a {
color: #ffffff;
}

#leftBook {
width: 32px;
height: 32px;
object-fit: contain;
padding: 20px;
}

.mainNavLinks {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
}
.mainNavLinks a {
    color: #333;
    font-size: 20px;
}

.mainNavLinks a:hover {
color: #ffffff;
}

#loginButton {
background-color: #ffffff;
}

#loginButton a:hover {
background-color: #ffffff;
transform: scale(1.5);
}

#search {
    width: 250px;
    display: flex;
    text-align: center;
}

/*THESE NEXT 3 BLOCKS PROVIDE UNDERLINE STYLES TO LINKS REFRENCED FROM GOOGLE.COM*/
.underline-hover a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.underline-hover a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.2s ease-out;
}

.underline-hover a:hover::after {
  transform: scaleX(1);
}
 #booksIcon {
    font-size: 50px;
 }

.underline-hover a:hover::after {
  transform: scaleX(1);
}